 <div class="sidebar m-5">
  <ul id="categoryList">
    <li class="list-group-item clearfix">
      <a id="cate" href="/product/filter/{{catename}}"
        data-category="{{catename}}"
        class="category-link">{{catename}}</a>
    </li>
  </ul>
</div>
<div class="sidebar-filter margin-bottom-25">
  <select name id="fitlter-price" class="form-control">
    <option value="lowest">Lowest Price</option>
    <option value="highest">Hightest Price</option>
  </select>
  <button type="button" id="search-button" class="btn-primary btn form-control">Search</button>
</div>

<script>
        document.getElementById("search-button").addEventListener("click", function() {
            // Lấy giá trị được chọn từ select
            var selectedValue = document.getElementById("fitlter-price").value;

            // Tạo URL dựa trên giá trị được chọn và chuyển hướng trang
            window.location.href = "/?price=" + selectedValue;
        });
    </script>

<script>
    fetch('/category', {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            }
          })
          .then(response => response.json())
          .then(data => {
      // Access the array of categories
      const categories = data.data;

      // Get the ul element where you want to insert the categories
      const categoryList = document.getElementById('categoryList');

      // Iterate over the categories and create list items
      categories.forEach(category => {
        const listItem = document.createElement('li');
        listItem.className = 'list-group-item clearfix';

        const link = document.createElement('a');
        link.href = `/product/filter/${category.catename}`;
        link.setAttribute('data-category', category.catename);
        link.className = 'category-link';
        link.textContent = category.catename;

        listItem.appendChild(link);
        categoryList.appendChild(listItem);
      });
    })
          .catch(error => {
            console.log('Error:', error);
          });
</script>